.problem {
  padding-top: 6vh;

  .string {
    font-size: 56pt;
    font-family: "Domine", serif;
    font-weight: 600;
    line-height: 60pt;
  }

  .recall {
    background-color: #ddd;
    border: none;
    padding: 12px;
  }
}
