.prompt {
  width: 100%;
  padding: 40px 0 92px;
  font-size: 16pt;
  display: flex;
  flex-direction: column;
}

.game-stats {
  font-size: 14pt;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.mm-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;

  .grid-row {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .grid-item {
      border: none;
      width: 44px;
      height: 44px;
      background-color: #bbb;
    }

    .active {
      background-color: rgb(104, 221, 221);
      animation: activePulse 0.75s ease-in-out infinite;
    }

    @keyframes activePulse {
      0%,
      100% {
        filter: brightness(1);
      }

      50% {
        filter: brightness(0.9);
      }
    }

    .correct {
      background-color: rgb(62, 209, 25);
    }

    .incorrect {
      background-color: rgb(241, 6, 61);
    }
  }
}
