.game-header {
  position: relative;
  padding: 20px 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.1);

  .back-button {
    position: fixed;
    top: 18px;
    left: 6px;
    background-color: transparent;
    border: none;
  }

  .game-title {
    color: black;
    font-size: 24pt;
    font-weight: 600;
    letter-spacing: -0.6px;
  }
}
