@import url(index.css);

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2px;
  column-gap: 2px;

  &__item {
    appearance: none;
    border: none;
    cursor: pointer;
    text-align: left;

    // shared cell styles
    min-height: 132px;
    background-color: hsl(205, 64%, 72%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4px;
  }

  .game-title {
    font-family: var(--sans);
    color: var(--text-h);
    font-weight: 600;
    font-size: 18pt;
  }
}

.game-view {
  z-index: 999;
}
